* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    
   background: linear-gradient(180deg, #0f4c5c, #08323c); 
  color: white;
}

.menu-section {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  color: #d6f1ff;
  margin-bottom: 50px;
}

.category {
  margin-bottom: 60px;
}

.category h2 {
  margin-bottom: 25px;
  font-size: 28px;
  border-left: 6px solid #ffd166;
  padding-left: 15px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 15px;
}
.card {
    
  background: rgba(255,255,255,0.1); 
  padding: 25px;
  border-radius: 18px;
  backdrop-filter: blur(8px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  opacity: 0.8;
}

.card span {
  display: block;
  margin-top: 15px;
  font-size: 22px;
  font-weight: 700;
  color: #ffd166;
}

/* OFERTA */
.card.oferta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:url(image/oferta2.jpeg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: hwb(60 4% 2%);

  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}
p.combo{
  color:white;
  font-weight: bold;
}
.card.oferta span {
  color: #f8f5f0;
  font-weight: 900;
  font-size: 22px;
}

/* Responsive */
@media (max-width: 600px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {

  /* HEADER */
  .header {
    padding: 12px 20px;   /* نقصنا padding */
  }

  .logo {
    font-size: 22px;
  }

  /* NAV */
  .nav {
    gap: 16px;            /* مسافة بين Inicio Menu… */
  }

  .nav a {
    font-size: 14px;
  }

  /* HERO */
  body {
    padding-top: 80px;    /* باش الهيدر ما يغطيش المحتوى */
  }

  .hero-2 {
    padding: 30px 16px;   /* مسافة داخلية مزيانة */
  }

  /* BUTTONS */
  .buttons {
    gap: 12px;
    flex-direction: column;
  }

  .buttons a {
    width: 100%;
    text-align: center;
  }
}