* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    
   background: linear-gradient(180deg, #0f4c5c, #08323c); 
  color: white;
}

.menu-section {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  color: #d6f1ff;
  margin-bottom: 50px;
}

.category {
  margin-bottom: 60px;
}

.category h2 {
  margin-bottom: 25px;
  font-size: 28px;
  border-left: 6px solid #ffd166;
  padding-left: 15px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 15px;
}
.card {
    
  background: rgba(255,255,255,0.1); 
  padding: 25px;
  border-radius: 18px;
  backdrop-filter: blur(8px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  opacity: 0.8;
}

.card span {
  display: block;
  margin-top: 15px;
  font-size: 22px;
  font-weight: 700;
  color: #ffd166;
}

/* OFERTA */
.card.oferta {
  background: linear-gradient(135deg, #ffd166, #f4a261);
  color: #000;
}

.card.oferta span {
  color: #000;
}

/* Responsive */
@media (max-width: 600px) {
  .title {
    font-size: 32px;
  }
}