/* ********* 
RESET
********* */
*,
*::before,
*::after{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* ********
BODY
********* */


  
@media ( max-width:600px){
    h1{display: none;}
    header{ justify-content: center; padding: 0;}
    @media (max-width:500px){
      a{justify-content: center;padding: 0;}
      }
   
    .a{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
/* =================
header
======================== */

.header {
   position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;        /* يخليهم فـ نفس الارتفاع */
  justify-content: space-between;
  padding: 20px 40px;
  background: #dbd0cb;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 32px;                  /* المسافة بين Inicio و Menu... */
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 6px;
}

/* الخط لي كيطلع فـ hover */
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

  
     

:root{
                --dodyfont:#2b3445;
                 --bodybg:#f6f6f6;  
                 --blue:#9fc5ef;
                 --icons:#40464d;
                 --blue-button:#1976d2;
                  --footer-bg:#212529;
                  --white:#fff;
                  --red-button: #e41d43;
/*  */
                 a,button{ 
                    all: unset;
                    display: inline-block;
                    transition: 0.2s; 

                 }
                 button:hover,
                 a:hover{
                    cursor: pointer;
                 }
                 a:hover,
                 button:active{
                    scale: 0.9;
                 }
                 button:disabled{
                    opacity: 0.7;
                    cursor: not-allowed;
                    scale: 1;
                 }
                  li{
        list-style: none;

      }
      ::-webkit-scrollbar{
    width: 0.88rem;
}
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
                
}              

