/* ********* 
RESET
********* */
*,
*::before,
*::after{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* ********
BODY
********* */


  body{
    overflow-x: hidden;
     font-family: Arial, sans-serif;
     background-color: #f7f3ef;
     color: #333;
     line-height: 1.5;
  }
@media ( max-width:600px){
    h1{display: none;}
    header{ justify-content: center; padding: 0;}
    @media (max-width:500px){
      a{justify-content: center;padding: 0;}
      }
   
    .a{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
/* =================
header
======================== */
header{
     display: flex;
     padding: 20px 40px;
     justify-content: space-between;
    color:var(--white);
     text-align: center;
     background-color: #4a2c1d;
    box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);}
     h2.braba{
        font-family: 'cursive', Arial, sans-serif; 
        font-size: 28px;
    }
.a .menu{
     margin-inline:2rem ;
}

   header .a{
     margin-left: 20PX; 
     text-decoration: none;
     color: var(--white);
     font-weight: bold;
      }
      header .a:hover{
         text-decoration: underline;
      }
/*  */

  
     

:root{
                --dodyfont:#2b3445;
                 --bodybg:#f6f6f6;  
                 --blue:#9fc5ef;
                 --icons:#40464d;
                 --blue-button:#1976d2;
                  --footer-bg:#212529;
                  --white:#fff;
                  --red-button: #e41d43;

                 a,button{ 
                    all: unset;
                    display: inline-block;
                    transition: 0.2s; 

                 }
                 button:hover,
                 a:hover{
                    cursor: pointer;
                 }
                 a:hover,
                 button:active{
                    scale: 0.9;
                 }
                 button:disabled{
                    opacity: 0.7;
                    cursor: not-allowed;
                    scale: 1;
                 }
                  li{
        list-style: none;

      }
      ::-webkit-scrollbar{
    width: 0.88rem;
}
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
                
}              
 
